.lesson-list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px auto;
    padding: 0px 20px;
}

.lesson-header {
    background-color: #FCC900;
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
}

.lesson-header img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.lesson-text {
    flex-grow: 1;
}

.category-text-2 {
    font-weight: 700;
    line-height: 1.2;
    text-align: start;
}

.baybayin-text-2 {
    font-family: 'BaybayinNeue';
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 5px;
    text-align: start;
}

.mga-aralin {
    margin-top: 30px;
    font-weight: 600;
}

.lesson-list {
    display: flex;
    flex-direction: column;

    width: 100%; /* Ensure lessons take up full width */
}

.lesson-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.lesson-number {
    background-color: #000000;
    color: #FCC900;
    padding: 10px;
    width: 60px; /* Fixed width for the lesson number */
    text-align: center;
    border-radius: 5px;
}

.lesson-title {
    flex-grow: 1; /* Take remaining space */
    padding-left: 15px; /* Add space between number and title */
    color: #FFFFFF; /* Set color for lesson title */
    font-weight: 600;
    text-align: left;
    background-color: #000000; /* White background for title */
    padding: 15px; /* Padding for the title */
    border-radius: 5px; /* Rounded corners for the title box */
    margin-left: 30px;
    font-size: 18px;
}

/* Remove blue color and underline from the link */
.lesson-title a {
    color: inherit; /* Inherit color from .lesson-title */
    text-decoration: none; /* Remove underline */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .lesson-header {
        flex-direction: column;
        text-align: center;
    }

    .lesson-number {
        width: 50px;
    }

    .lesson-title {
        padding-left: 10px;
    }
}
