@font-face {
  font-family: "Deutsch";
  src: url("/public/assets/fonts/Deutsch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #000000;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 150px;
  padding-right: 150px;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: auto;
}

.title-container h2 {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Deutsch", sans-serif;
  color: #FCC900;
  letter-spacing: 0.25px;
}

.menu-item-with-submenu > .menu-link {
  font-weight: 600;
  color: #FFFFFF; 
}

.menu-item-with-submenu > .menu-link:hover {
  color: #fcc900; 
}

.menu-options {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.menu-options a {
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}

.menu-options a:hover,
.menu-options a:focus,
.menu-options a:active {
  color: #fcc900;
}

.menu-item-with-submenu {
  position: relative;
}

.submenu-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  background-color: #000000;
  display: none;
  border-radius: 5px; 
}

.menu-item-with-submenu.open .submenu-list {
  display: flex;
  flex-direction: column;
}

.submenu-list li {
  margin-bottom: 5px;
  padding: 10px 15px; 
  border-bottom: 1px solid #555; 
}

.submenu-list li:last-child {
  border-bottom: none;
}

.submenu-list li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 5px;
}

.submenu-list li a:hover {
  color: #fcc900;
  background-color: #6C6C6C6C;
  padding: 5px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.close-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}

.active-link {
  color: #fcc900;
}

@media (max-width: 835px) {
  .menu-options {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #000000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    transform: translateX(100%); 
    transition: transform 0.3s ease;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto; 
    visibility: hidden; 
    opacity: 0; 
  }

  .menu-options.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .submenu-list {
    display: none;
  }

  .menu-item-with-submenu.open .submenu-list {
    display: block;
    padding: 10px 0; 
    width: 100%; 
    background-color: #333; 
  }

  .submenu-list li {
    padding: 10px; 
  }

  .menu-toggle {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }

  .submenu-list {
    background-color: #333;
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 836px) {
  .menu-options {
    position: static;
    transform: none;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    height: auto;
  }

  .submenu-toggle {
    display: none;
  }

  .submenu-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 100;
    width: 150px;
    background-color: #000000;
    list-style: none;
    padding-right: 15px;
  }

  .menu-item-with-submenu:hover .submenu-list {
    display: block;
  }

  .menu-toggle,
  .close-menu {
    display: none;
  }

  .current-menu-parent > .menu-link {
    color: #fcc900; 
  }
}